{% extends 'base.html' %}
{% block content %}
<a href="/" class="btn btn-outline-primary me-2">Back</a>
<div class="container mt-5">
  <h2 class="mb-4">My Orders</h2>

  {% if orders %}
    {% for order in orders %}
      <div class="card mb-4 shadow-sm">
        <div class="card-header d-flex justify-content-between">
          <span>Order #{{ order.id }}</span>
          <span class="badge bg-info">{{ order.status }}</span>
        </div>

        <div class="card-body">
          <p><strong>Date:</strong> {{ order.created_at|date:"d M Y" }}</p>

          {% for item in order.orderitem_set.all %}
            <div class="d-flex align-items-center mb-3">
              <img src="{{ item.product.image.url }}" width="70" class="me-3 rounded">
              <div>
                <p class="mb-1">{{ item.product.name }}</p>
                <small>Qty: {{ item.quantity }}</small><br>
                <small>₹ {{ item.product.price }}</small>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  {% else %}
    <p>You have no orders yet.</p>
  {% endif %}
</div>

{% endblock %}
